body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text-color);
}

h1 {
    color: var(--primary);
    margin-bottom: 40px;
}

:root{
    --primary: #5d61e2;
    --accent: #f09ce6;
    --background: #0c112f;
    --text-color: #babfd6;
    --button-color: #ffffff;
}

@font-face {
    font-family: 'MiConv amerta';
    src: url('../fonts/MiConv__amerta.woff2') format('woff2'),
         url('../fonts/MiConv__amerta.woff') format('woff'),
         url('../fonts/MiConv__amerta.eot') format('embedded-opentype');
}

.container {
    max-width: 75%;
    margin: 60px auto 60px auto;
    text-align: center;
}

.author {
    font-size: 35px;
    font-weight: 100;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 30px;
}

.quote {
    font-family: 'MiConv amerta';
    font-size: 70px;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}

.quote::before {
    content: '«';
}
.quote::after {
    content: '»';
}

.btn {
    padding: 15px 40px;
    background-color: var(--primary);
    color: var(--button-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

#favorite-btn {
    display: none;
}

.btn:hover {
    background-color: #6478f8;
}

.icon-btn,
.share-btn {
    /* --accent: var(--accent);     */
    --stroke: var(--text-color);   
  
    background: transparent;
    border: none;
    padding: .4rem .4rem 0 .4rem;
    cursor: pointer;
  
    color: var(--stroke);         
  }
  
  .icon {
    width: 35px;
    height: 35px;
    overflow: visible;
    pointer-events: none;
    transition: fill .25s ease;   
  }
  
  .icon-btn:hover       .icon path { fill: var(--accent);
  color: var(--accent) ;}
  .icon-btn.active:hover .icon path { fill:var(--accent) ; }    
  
  .icon-btn.active .icon path { fill: var(--text-color); }

  .share-btn:hover       .icon path { fill: var(--accent);
  color: var(--accent) ;}
  .share-btn.active:hover .icon path { fill:var(--accent) ; }    
  
  .share-btn.active .icon path { fill: var(--text-color); }
  

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.icon-btns {
    display: flex;
    gap: 10px;
}

.favorites-container {
    display: flex;        
    flex-wrap: wrap;      
    gap: 20px;            
    justify-content: center;  
  }
  
  .favorite-card {
    flex: 0 1 25%;
    box-sizing: border-box;
    background: #121a46;
    padding: 40px 50px 40px 30px;
    border-radius: 10px;
    position: relative;
  }

  .remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--primary);
    font-size: 20px;
    margin-top: 10px;
    position: absolute;
    top: 3px;
    right: 5px;
  }

  .quote-in-card {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
    color: var(--text-color);
    line-height: 1.6;
  }

  .author-in-card {
    font-size: 15px;
    font-weight: 100;
    color: var(--primary) ;
    margin-top: 0;
    margin-bottom: 0;
  }
